.main-footer {
  padding: 45px 0;
  background: #212121;
  background-image: url("data:image/svg+xml,%3Csvg width='1920' height='88' viewBox='0 0 1920 88' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M71.6162 45.5L-3.88379 8.5V88.5H1927.12V35.5L1849.62 65.5L1647.62 51L1582.12 21L1501.62 65.5L1399.62 35.5L1261.62 65.5L1186.12 35.5L1140.62 74.5L1045.62 12L1012.12 35.5L912.116 69L721.116 0L673.116 22.5L653.616 12L510.616 68L323.616 21L159.116 64L95.1162 36L71.6162 45.5Z' fill='%23373737'/%3E%3Cpath d='M134.116 61.5L-4.88379 31V83H1927.62V60L1654.62 31L1453.62 60L1325.12 21L1148.62 60L834.116 49.5L755.116 60L538.616 8L154.616 67L136.116 60L134.116 61.5Z' fill='%232C2C2C'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: bottom;

  @include md-block {
    padding-bottom: 130px;
  }

  &__container {
    @include md-block {
      max-width: 1200px;
      display: flex;
      justify-content: space-between;
      gap: 50px;
    }
  }
}

.column-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 45px;

  &__logo {
    display: block;
    width: 205px;
    margin: auto;
  }
}

.copyright {
  font-family: $frutiger;
  width: 225px;
  margin: auto;
  font-weight: 400;
  font-size: 9px;
  line-height: 11px;
  text-align: center;
  letter-spacing: 0.005em;
  color: #FFFFFF;
}

.column-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 30px;

  @include md-block {
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
  }

  &__header {
    font-family: $frutiger;
    display: inline-block;
    position: relative;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.005em;
    color: #FFFFFF;

    &:before {
      content: '';
      position: absolute;
      right: -25px;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 12px;
      height: 7px;
      background-image: url('../../img/arrow-footer.svg');
      background-repeat: no-repeat;

      @include md-block {
        display: none;
      }
    }
  }

  &__item {
    text-align: center;

    @include md-block {
      text-align: left;
    }
  }

  &__links {
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all linear .3s;

    @include md-block {
      height: auto;
      opacity: 1;
    }

    a {
      font-family: $frutiger;
      display: block;
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 0.005em;
      color: #FFFFFF;
      transition: all linear .2s;

      &:hover {
        color: $accent;
      }
    }

    &.active {
      height: auto;
      opacity: 1;
    }
  }
}

.column-right {
  &__title {
    margin-bottom: 20px;
    text-align: center;
    font-family: $frutiger;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.005em;
    color: #FFFFFF;

    @include md-block {
      text-align: left;
    }
  }
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;

  @include md-block {
    justify-content: flex-start;
    margin-bottom: 20px;
  }

  &__link {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all linear .3s;

    &--instagram {
      background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.116211 7.69235C0.201143 7.09254 0.265853 6.4893 0.373807 5.89384C0.985752 2.52115 3.37349 0.226428 6.78756 0.10883C10.8982 -0.0324116 15.0213 -0.0398781 19.1313 0.108208C22.8472 0.241984 25.5382 2.9934 25.6543 6.7105C25.7778 10.6575 25.7778 14.6141 25.6543 18.5611C25.5382 22.2782 22.8481 25.0293 19.1316 25.1634C15.0216 25.3118 10.8976 25.3156 6.78787 25.1613C3.0714 25.0216 0.502293 22.2639 0.25372 18.5412C0.232253 18.2192 0.163188 17.9 0.116211 17.5796C0.116211 14.2837 0.116211 10.9879 0.116211 7.69235ZM12.935 22.9605C14.816 22.9605 16.6988 23.0168 18.5772 22.9474C21.5225 22.8382 23.334 21.0805 23.4028 18.138C23.488 14.4717 23.488 10.8003 23.4028 7.1336C23.334 4.19178 21.5212 2.39297 18.5772 2.33044C14.8405 2.25142 11.0998 2.25204 7.36311 2.33044C4.44151 2.39173 2.62466 4.15414 2.54533 7.0636C2.44453 10.7763 2.44453 14.4956 2.54533 18.2083C2.62466 21.1175 4.44151 22.8392 7.36342 22.9474C9.21823 23.0165 11.0777 22.9605 12.935 22.9605Z' fill='white'/%3E%3Cpath d='M12.9317 6.10742C9.32479 6.10742 6.40039 9.0315 6.40039 12.6385C6.40039 16.2457 9.32479 19.1698 12.9317 19.1698C16.539 19.1698 19.4631 16.2457 19.4631 12.6385C19.4631 9.0315 16.539 6.10742 12.9317 6.10742ZM12.9317 16.9211C10.5664 16.9211 8.64906 15.0038 8.64906 12.6385C8.64906 10.2731 10.5664 8.35578 12.9317 8.35578C15.2971 8.35578 17.2144 10.2731 17.2144 12.6385C17.2144 15.0038 15.2971 16.9211 12.9317 16.9211Z' fill='white'/%3E%3Cpath d='M21.3987 5.80886C21.3987 6.66689 20.703 7.36252 19.845 7.36252C18.987 7.36252 18.291 6.66689 18.291 5.80886C18.291 4.95052 18.987 4.25488 19.845 4.25488C20.703 4.25488 21.3987 4.95052 21.3987 5.80886Z' fill='white'/%3E%3C/svg%3E");

      &:hover {
        background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.116211 7.69235C0.201143 7.09254 0.265853 6.4893 0.373807 5.89384C0.985752 2.52115 3.37349 0.226428 6.78756 0.10883C10.8982 -0.0324116 15.0213 -0.0398781 19.1313 0.108208C22.8472 0.241984 25.5382 2.9934 25.6543 6.7105C25.7778 10.6575 25.7778 14.6141 25.6543 18.5611C25.5382 22.2782 22.8481 25.0293 19.1316 25.1634C15.0216 25.3118 10.8976 25.3156 6.78787 25.1613C3.0714 25.0216 0.502293 22.2639 0.25372 18.5412C0.232253 18.2192 0.163188 17.9 0.116211 17.5796C0.116211 14.2837 0.116211 10.9879 0.116211 7.69235ZM12.935 22.9605C14.816 22.9605 16.6988 23.0168 18.5772 22.9474C21.5225 22.8382 23.334 21.0805 23.4028 18.138C23.488 14.4717 23.488 10.8003 23.4028 7.1336C23.334 4.19178 21.5212 2.39297 18.5772 2.33044C14.8405 2.25142 11.0998 2.25204 7.36311 2.33044C4.44151 2.39173 2.62466 4.15414 2.54533 7.0636C2.44453 10.7763 2.44453 14.4956 2.54533 18.2083C2.62466 21.1175 4.44151 22.8392 7.36342 22.9474C9.21823 23.0165 11.0777 22.9605 12.935 22.9605Z' fill='%2362BAAF'/%3E%3Cpath d='M12.9317 6.10742C9.32479 6.10742 6.40039 9.0315 6.40039 12.6385C6.40039 16.2457 9.32479 19.1698 12.9317 19.1698C16.539 19.1698 19.4631 16.2457 19.4631 12.6385C19.4631 9.0315 16.539 6.10742 12.9317 6.10742ZM12.9317 16.9211C10.5664 16.9211 8.64906 15.0038 8.64906 12.6385C8.64906 10.2731 10.5664 8.35578 12.9317 8.35578C15.2971 8.35578 17.2144 10.2731 17.2144 12.6385C17.2144 15.0038 15.2971 16.9211 12.9317 16.9211Z' fill='%2362BAAF'/%3E%3Cpath d='M21.3987 5.80886C21.3987 6.66689 20.703 7.36252 19.845 7.36252C18.987 7.36252 18.291 6.66689 18.291 5.80886C18.291 4.95052 18.987 4.25488 19.845 4.25488C20.703 4.25488 21.3987 4.95052 21.3987 5.80886Z' fill='%2362BAAF'/%3E%3C/svg%3E");
      }
    }

    &--telegram {
      background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 30 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28.6684 0.684437C28.3141 0.243025 27.7836 0 27.1743 0C26.843 0 26.4921 0.0710138 26.1315 0.211463L1.5836 9.75955C0.280868 10.2661 0.105415 11.0263 0.116699 11.4343C0.127983 11.8424 0.345473 12.5913 1.67431 13.0221C1.68228 13.0246 1.69024 13.0271 1.69821 13.0293L6.7901 14.5141L9.5438 22.5375C9.91927 23.6314 10.762 24.3108 11.7435 24.3108C12.3623 24.3108 12.971 24.0466 13.5038 23.547L16.6533 20.5922L21.2215 24.3401C21.2219 24.3406 21.2226 24.3408 21.223 24.3413L21.2664 24.3769C21.2704 24.38 21.2746 24.3834 21.2786 24.3866C21.7863 24.7879 22.3406 24.9998 22.882 25H22.8822C23.94 25 24.7823 24.2022 25.0277 22.9677L29.0498 2.73121C29.2113 1.91895 29.0759 1.19213 28.6684 0.684437ZM8.49352 14.2321L18.3173 9.11839L12.2004 15.7412C12.1001 15.8496 12.0291 15.9824 11.9942 16.1269L10.8147 20.995L8.49352 14.2321ZM12.3526 22.2733C12.3119 22.3114 12.271 22.3454 12.23 22.3768L13.3243 17.8608L15.3149 19.4941L12.3526 22.2733ZM27.3844 2.38741L23.3623 22.6241C23.3236 22.8177 23.1999 23.2684 22.882 23.2684C22.7249 23.2684 22.5275 23.1811 22.3255 23.0227L17.1491 18.7758C17.1484 18.7751 17.1476 18.7745 17.1467 18.774L14.0666 16.2468L22.9125 6.66943C23.1957 6.36283 23.2214 5.89324 22.9733 5.55643C22.7251 5.21962 22.2753 5.11367 21.9074 5.30529L7.35827 12.8787L2.19713 11.3742L26.7375 1.829C26.9448 1.74829 27.0895 1.73138 27.1743 1.73138C27.2263 1.73138 27.3187 1.7377 27.353 1.78075C27.3982 1.83689 27.4557 2.02829 27.3844 2.38741Z' fill='white'/%3E%3C/svg%3E%0A");

      &:hover {
        background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 30 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28.6684 0.684437C28.3141 0.243025 27.7836 0 27.1743 0C26.843 0 26.4921 0.0710138 26.1315 0.211463L1.5836 9.75955C0.280868 10.2661 0.105415 11.0263 0.116699 11.4343C0.127983 11.8424 0.345473 12.5913 1.67431 13.0221C1.68228 13.0246 1.69024 13.0271 1.69821 13.0293L6.7901 14.5141L9.5438 22.5375C9.91927 23.6314 10.762 24.3108 11.7435 24.3108C12.3623 24.3108 12.971 24.0466 13.5038 23.547L16.6533 20.5922L21.2215 24.3401C21.2219 24.3406 21.2226 24.3408 21.223 24.3413L21.2664 24.3769C21.2704 24.38 21.2746 24.3834 21.2786 24.3866C21.7863 24.7879 22.3406 24.9998 22.882 25H22.8822C23.94 25 24.7823 24.2022 25.0277 22.9677L29.0498 2.73121C29.2113 1.91895 29.0759 1.19213 28.6684 0.684437ZM8.49352 14.2321L18.3173 9.11839L12.2004 15.7412C12.1001 15.8496 12.0291 15.9824 11.9942 16.1269L10.8147 20.995L8.49352 14.2321ZM12.3526 22.2733C12.3119 22.3114 12.271 22.3454 12.23 22.3768L13.3243 17.8608L15.3149 19.4941L12.3526 22.2733ZM27.3844 2.38741L23.3623 22.6241C23.3236 22.8177 23.1999 23.2684 22.882 23.2684C22.7249 23.2684 22.5275 23.1811 22.3255 23.0227L17.1491 18.7758C17.1484 18.7751 17.1476 18.7745 17.1467 18.774L14.0666 16.2468L22.9125 6.66943C23.1957 6.36283 23.2214 5.89324 22.9733 5.55643C22.7251 5.21962 22.2753 5.11367 21.9074 5.30529L7.35827 12.8787L2.19713 11.3742L26.7375 1.829C26.9448 1.74829 27.0895 1.73138 27.1743 1.73138C27.2263 1.73138 27.3187 1.7377 27.353 1.78075C27.3982 1.83689 27.4557 2.02829 27.3844 2.38741Z' fill='%2362BAAF'/%3E%3C/svg%3E%0A");
      }
    }

    &--whatsapp {
      background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 24 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19.7651 3.34247C17.603 1.18818 14.7276 0.00126343 11.6643 0C5.35206 0 0.214809 5.11253 0.21227 11.3963C0.211424 13.405 0.73869 15.3658 1.74089 17.0942L0.116211 23L6.18711 21.4151C7.85989 22.3232 9.74313 22.8018 11.6597 22.8023H11.6645C17.976 22.8023 23.1138 17.6894 23.1162 11.4054C23.1175 8.35996 21.9274 5.49661 19.7651 3.34247ZM11.6643 20.8776H11.6604C9.95246 20.8769 8.27742 20.4201 6.8158 19.5572L6.46838 19.3518L2.86581 20.2923L3.82739 16.7967L3.601 16.4383C2.64816 14.9301 2.14502 13.1868 2.14586 11.397C2.14784 6.17409 6.41788 1.9249 11.6681 1.9249C14.2105 1.92574 16.6004 2.91234 18.3975 4.7029C20.1945 6.49346 21.1836 8.87347 21.1828 11.4047C21.1805 16.628 16.9107 20.8776 11.6643 20.8776ZM16.8854 13.7829C16.5993 13.6402 15.1924 12.9515 14.93 12.8564C14.668 12.7613 14.477 12.714 14.2864 12.999C14.0955 13.284 13.5473 13.9255 13.3803 14.1154C13.2132 14.3055 13.0465 14.3294 12.7603 14.1867C12.4741 14.0443 11.5522 13.7434 10.4591 12.7733C9.60856 12.0181 9.03432 11.0856 8.86731 10.8006C8.70059 10.5154 8.8659 10.3761 8.99285 10.2194C9.30261 9.83663 9.61279 9.43528 9.70815 9.24534C9.80364 9.05527 9.75583 8.88892 9.68417 8.74643C9.61279 8.60394 9.04053 7.20224 8.80215 6.63187C8.56969 6.07681 8.33398 6.15177 8.15823 6.14307C7.9915 6.13478 7.80065 6.1331 7.6098 6.1331C7.41909 6.1331 7.10905 6.20427 6.84669 6.48953C6.58447 6.77464 5.84533 7.46349 5.84533 8.86519C5.84533 10.2669 6.87067 11.621 7.0137 11.8111C7.15673 12.0012 9.0315 14.8776 11.9018 16.1109C12.5846 16.4046 13.1175 16.5797 13.5332 16.7109C14.2187 16.9277 14.8423 16.8971 15.3354 16.8238C15.8853 16.742 17.0282 16.1348 17.2669 15.4697C17.5053 14.8044 17.5053 14.2343 17.4336 14.1154C17.3623 13.9967 17.1714 13.9255 16.8854 13.7829Z' fill='white'/%3E%3C/svg%3E%0A");

      &:hover {
        background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 24 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19.7651 3.34247C17.603 1.18818 14.7276 0.00126343 11.6643 0C5.35206 0 0.214809 5.11253 0.21227 11.3963C0.211424 13.405 0.73869 15.3658 1.74089 17.0942L0.116211 23L6.18711 21.4151C7.85989 22.3232 9.74313 22.8018 11.6597 22.8023H11.6645C17.976 22.8023 23.1138 17.6894 23.1162 11.4054C23.1175 8.35996 21.9274 5.49661 19.7651 3.34247ZM11.6643 20.8776H11.6604C9.95246 20.8769 8.27742 20.4201 6.8158 19.5572L6.46838 19.3518L2.86581 20.2923L3.82739 16.7967L3.601 16.4383C2.64816 14.9301 2.14502 13.1868 2.14586 11.397C2.14784 6.17409 6.41788 1.9249 11.6681 1.9249C14.2105 1.92574 16.6004 2.91234 18.3975 4.7029C20.1945 6.49346 21.1836 8.87347 21.1828 11.4047C21.1805 16.628 16.9107 20.8776 11.6643 20.8776ZM16.8854 13.7829C16.5993 13.6402 15.1924 12.9515 14.93 12.8564C14.668 12.7613 14.477 12.714 14.2864 12.999C14.0955 13.284 13.5473 13.9255 13.3803 14.1154C13.2132 14.3055 13.0465 14.3294 12.7603 14.1867C12.4741 14.0443 11.5522 13.7434 10.4591 12.7733C9.60856 12.0181 9.03432 11.0856 8.86731 10.8006C8.70059 10.5154 8.8659 10.3761 8.99285 10.2194C9.30261 9.83663 9.61279 9.43528 9.70815 9.24534C9.80364 9.05527 9.75583 8.88892 9.68417 8.74643C9.61279 8.60394 9.04053 7.20224 8.80215 6.63187C8.56969 6.07681 8.33398 6.15177 8.15823 6.14307C7.9915 6.13478 7.80065 6.1331 7.6098 6.1331C7.41909 6.1331 7.10905 6.20427 6.84669 6.48953C6.58447 6.77464 5.84533 7.46349 5.84533 8.86519C5.84533 10.2669 6.87067 11.621 7.0137 11.8111C7.15673 12.0012 9.0315 14.8776 11.9018 16.1109C12.5846 16.4046 13.1175 16.5797 13.5332 16.7109C14.2187 16.9277 14.8423 16.8971 15.3354 16.8238C15.8853 16.742 17.0282 16.1348 17.2669 15.4697C17.5053 14.8044 17.5053 14.2343 17.4336 14.1154C17.3623 13.9967 17.1714 13.9255 16.8854 13.7829Z' fill='%2362BAAF'/%3E%3C/svg%3E%0A");
      }
    }

    &--vk {
      background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 33 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.3094 19C20.9387 19 19.288 16.2159 19.6453 15.4153C19.64 14.8175 19.6347 14.2424 19.656 13.8928C19.9493 13.9713 20.6413 14.3045 22.0706 15.6243C24.2773 17.7397 24.8413 19 26.6239 19H29.9052C30.9452 19 31.4865 18.5909 31.7572 18.2476C32.0185 17.9157 32.2745 17.3331 31.9945 16.4261C31.2625 14.2424 26.9932 10.4715 26.7279 10.0738C26.7679 10.0003 26.8319 9.9028 26.8653 9.85213H26.8626C27.7052 8.79447 30.9212 4.21673 31.3945 2.38513C31.3959 2.3826 31.3972 2.3788 31.3972 2.375C31.6532 1.539 31.4185 0.996867 31.1759 0.690333C30.8105 0.2318 30.2292 0 29.4439 0H26.1626C25.0639 0 24.2306 0.525667 23.8093 1.48453C23.104 3.1882 21.1226 6.6918 19.6373 7.93187C19.592 6.175 19.6227 4.8336 19.6467 3.83673C19.6947 1.8924 19.8493 0 17.7254 0H12.5681C11.2374 0 9.9641 1.38067 11.3428 3.01973C12.5481 4.45613 11.7761 5.25667 12.0361 9.2416C11.0228 8.20927 9.22011 5.42133 7.94546 1.8582C7.58813 0.894267 7.0468 0.00126657 5.52282 0.00126657H2.24152C0.910869 0.00126657 0.116211 0.690333 0.116211 1.84427C0.116211 4.43587 6.15481 19 16.3094 19ZM5.52282 1.90127C5.81215 1.90127 5.84148 1.90127 6.05615 2.48013C7.36146 6.13193 10.2894 11.5355 12.4281 11.5355C14.0347 11.5355 14.0347 9.9712 14.0347 9.3822L14.0334 4.693C13.9454 3.14133 13.3507 2.36867 12.9601 1.9L17.6374 1.90507C17.64 1.9266 17.6107 7.09207 17.6507 8.34353C17.6507 10.1207 19.136 11.1391 21.4546 8.90973C23.9013 6.28647 25.5933 2.36487 25.6613 2.20527C25.7613 1.97727 25.8479 1.9 26.1626 1.9H29.4439H29.4572C29.4559 1.9038 29.4559 1.9076 29.4546 1.9114C29.1546 3.2414 26.1933 7.47967 25.2026 8.79573C25.1866 8.816 25.1719 8.83753 25.1573 8.85907C24.7213 9.53547 24.3666 10.2828 25.2173 11.3341H25.2186C25.2959 11.4228 25.4973 11.6305 25.7906 11.9193C26.7026 12.8136 29.8306 15.8713 30.1079 17.0873C29.9239 17.1152 29.7239 17.0949 26.6239 17.1013C25.9639 17.1013 25.4479 16.1639 23.4786 14.2766C21.708 12.6401 20.5587 11.9713 19.512 11.9713C17.48 11.9713 17.628 13.5381 17.6467 15.4331C17.6534 17.4876 17.64 16.8378 17.6547 16.967C17.536 17.0113 17.196 17.1 16.3094 17.1C7.84946 17.1 2.34019 4.3434 2.12819 1.90507C2.20152 1.89873 3.21084 1.90253 5.52282 1.90127Z' fill='white'/%3E%3C/svg%3E%0A");

      &:hover {
        background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 33 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.3094 19C20.9387 19 19.288 16.2159 19.6453 15.4153C19.64 14.8175 19.6347 14.2424 19.656 13.8928C19.9493 13.9713 20.6413 14.3045 22.0706 15.6243C24.2773 17.7397 24.8413 19 26.6239 19H29.9052C30.9452 19 31.4865 18.5909 31.7572 18.2476C32.0185 17.9157 32.2745 17.3331 31.9945 16.4261C31.2625 14.2424 26.9932 10.4715 26.7279 10.0738C26.7679 10.0003 26.8319 9.9028 26.8653 9.85213H26.8626C27.7052 8.79447 30.9212 4.21673 31.3945 2.38513C31.3959 2.3826 31.3972 2.3788 31.3972 2.375C31.6532 1.539 31.4185 0.996867 31.1759 0.690333C30.8105 0.2318 30.2292 0 29.4439 0H26.1626C25.0639 0 24.2306 0.525667 23.8093 1.48453C23.104 3.1882 21.1226 6.6918 19.6373 7.93187C19.592 6.175 19.6227 4.8336 19.6467 3.83673C19.6947 1.8924 19.8493 0 17.7254 0H12.5681C11.2374 0 9.9641 1.38067 11.3428 3.01973C12.5481 4.45613 11.7761 5.25667 12.0361 9.2416C11.0228 8.20927 9.22011 5.42133 7.94546 1.8582C7.58813 0.894267 7.0468 0.00126657 5.52282 0.00126657H2.24152C0.910869 0.00126657 0.116211 0.690333 0.116211 1.84427C0.116211 4.43587 6.15481 19 16.3094 19ZM5.52282 1.90127C5.81215 1.90127 5.84148 1.90127 6.05615 2.48013C7.36146 6.13193 10.2894 11.5355 12.4281 11.5355C14.0347 11.5355 14.0347 9.9712 14.0347 9.3822L14.0334 4.693C13.9454 3.14133 13.3507 2.36867 12.9601 1.9L17.6374 1.90507C17.64 1.9266 17.6107 7.09207 17.6507 8.34353C17.6507 10.1207 19.136 11.1391 21.4546 8.90973C23.9013 6.28647 25.5933 2.36487 25.6613 2.20527C25.7613 1.97727 25.8479 1.9 26.1626 1.9H29.4439H29.4572C29.4559 1.9038 29.4559 1.9076 29.4546 1.9114C29.1546 3.2414 26.1933 7.47967 25.2026 8.79573C25.1866 8.816 25.1719 8.83753 25.1573 8.85907C24.7213 9.53547 24.3666 10.2828 25.2173 11.3341H25.2186C25.2959 11.4228 25.4973 11.6305 25.7906 11.9193C26.7026 12.8136 29.8306 15.8713 30.1079 17.0873C29.9239 17.1152 29.7239 17.0949 26.6239 17.1013C25.9639 17.1013 25.4479 16.1639 23.4786 14.2766C21.708 12.6401 20.5587 11.9713 19.512 11.9713C17.48 11.9713 17.628 13.5381 17.6467 15.4331C17.6534 17.4876 17.64 16.8378 17.6547 16.967C17.536 17.0113 17.196 17.1 16.3094 17.1C7.84946 17.1 2.34019 4.3434 2.12819 1.90507C2.20152 1.89873 3.21084 1.90253 5.52282 1.90127Z' fill='%2362BAAF'/%3E%3C/svg%3E%0A");
      }
    }
  }
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  &__item {
    display: block;
    padding-left: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    background-position: left center;
    background-size: 20px 20px;
    background-repeat: no-repeat;

    &--phone {
      background-image: url('../img/phone.svg');
    }

    &--mail {
      background-image: url('../img/mail.svg');

      @include xl-block {
        background-position: 3% center;
      }
    }
  }
}