mixin footer()
  footer.main-footer
    .container.main-footer__container 
      .column-left 
        a.logo.column-left__logo(href="#!") 
          img(src="img/logo-green.png", alt="")
        p.copyright При полном или частичном использовании материалов с сайта ссылка на источник обязательна
      .column-center 
        .column-center__item 
          p.column-center__header Пользователям
          .column-center__links 
            a(href="#!") Спецпредложения
            a(href="") Контруктор туров
            a(href="") Партнерам
            a(href="") Вход
            a(href="") Регистрация
            a(href="") О проекте
            a(href="") Отзывы
        .column-center__item 
          p.column-center__header Информация
          .column-center__links 
            a(href="#!") Как купить тур
            a(href="") Путеводители
            a(href="") Информация о сервисе
            a(href="") Корпоративным клиентам
            a(href="") Политика возврата
            a(href="") Вопросы и ответы
            a(href="") Акции
        .column-center__item 
          p.column-center__header Полезное
          .column-center__links 
            a(href="#!") Новости
            a(href="") О нас
            a(href="") Контакты
            a(href="") Отзывы
            a(href="") Политика конфиденциальности
            a(href="") Галерея
      .column-right 
        .column-right__title Наши социальные сети
        ul.social 
          li.social__item
            a.social__link.social__link--instagram(href="#!")
          li.social__item
            a.social__link.social__link--telegram(href="#!") 
          li.social__item
            a.social__link.social__link--whatsapp(href="#!") 
          li.social__item
            a.social__link.social__link--vk(href="#!") 
        .column-right__title Контакты
        .contacts 
          a.contacts__item.contacts__item--phone(href="tel:8 800 000-00-00") 8 800 000-00-00
          a.contacts__item.contacts__item--mail(href="mailto:Pochta@gmail.com") Pochta@gmail.com
