mixin slider()
  .offers__slider
    .slider.js-slider
      .swiper.slider__swiper
        .swiper-wrapper.slider__wrapper
          .swiper-slide.slider__slide
            .slider__item
              img(src="img/sliders/offer-1.jpg", alt="")
              .popular Популярное
              .slider-text 
                p.slider-text__title Кавказ
                p.slider-text__date 08.05.2022
                p.slider-text__description Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet, nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil
                a.slider-text__link(href="#!") Подробнее
                  img(src="img/sliders/arrow-card.svg", alt="")
          .swiper-slide.slider__slide
            .slider__item
              img(src="img/sliders/offer-2.jpg", alt="")
              .slider-text 
                p.slider-text__title Кабардино-Балкария
                p.slider-text__date 08.05.2022
                p.slider-text__description Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet, nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil
                a.slider-text__link(href="#!") Подробнее
                  img(src="img/sliders/arrow-card.svg", alt="")
          .swiper-slide.slider__slide
            .slider__item
              img(src="img/sliders/offer-3.jpg", alt="")
              .popular Скидка 15%
              .slider-text 
                p.slider-text__title Джилы су
                p.slider-text__date c 08.05.2022 по 21.05.2022
                p.slider-text__description Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet, nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil
                a.slider-text__link(href="#!") Подробнее
                  img(src="img/sliders/arrow-card.svg", alt="")
          .swiper-slide.slider__slide
            .slider__item
              img(src="img/sliders/offer-3.jpg", alt="")
              .slider-text 
                p.slider-text__title Кавказ
                p.slider-text__date 08.05.2022
                p.slider-text__description Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet, nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil
                a.slider-text__link(href="#!") Подробнее
                  img(src="img/sliders/arrow-card.svg", alt="")
      .swiper-button-prev.slider__arrow.slider__arrow--prev
      .swiper-button-next.slider__arrow.slider__arrow--next
